<%= turbo_frame_tag "technique-drawer" do %>
  <h2 class="text-lg font-bold mb-4">テクニック設定</h2>

  <%= form_with model: @technique, url: mypage_technique_path(@technique), method: :patch do |f| %>
    <%= render 'shared/error_messages', object: @technique %>
    <%= render 'mypage/techniques/form_core', f: f %>
    <%= f.submit "保存", class: "btn btn-primary btn-wide mx-auto" %>
  <% end %>

    <div class="flex flex-col space-y-4">
      <!--  子ノード追加 -->
      <%= form_with url: mypage_chart_nodes_path(@chart), method: :post do |ff| %>
        <%= hidden_field_tag :parent_node_id, @node.id %>
        <div class="space-y-2">
          <%= label_tag :technique_id, "子ノードとして追加する技" %>
          <%= select_tag :technique_id, options_from_collection_for_select(@techniques, :id, :name), prompt: "選択してください", class: "select select-bordered w-full" %>
          <%= ff.submit "子ノードを追加", class: "btn btn-secondary" %>
        </div>
      <% end %>
    
      <!--  ノード削除 -->
        <!-- button_to ではフォームが生成されるので、data-turbo-method ではなく、method で delete を指定する -->
        <!-- link_to はaタグが生成されるので、data-turbo-method: :delete を使うことで擬似的に削除ボタンを作ることができる -->
      <%= button_to "このノードをチャートから削除", mypage_node_path(@node), method: :delete, class: "btn btn-error mt-4", data: { turbo_confirm: "本当に削除しますか？", turbo_frame: "_top" } %>
    </div>
<% end %>
