<%= turbo_frame_tag "node-drawer" do %>

  <div id="step0n" data-intro-text="ここでは、ノード編集画面について説明します。" class="hidden"></div>

  <%= form_with model: @form, url: mypage_node_path(@node), method: :patch do |f| %>
    <div class="flex flex-col items-center">
      <div 
        id="step1n"
        class="w-full"
        data-title-text="テクニック更新"
        data-intro-text="このフィールドから、テクニックの情報を更新することができます。<br><br>この画面で更新された情報は、<a class='underline font-bold' href='#{mypage_techniques_path}'>Technique</a> メニューの内容にも反映されます。"
      >
        <%= render 'mypage/techniques/form_core', f: f %>
      </div>

      <div class="divider my-8"></div>

      <div
        id="step2n" 
        class="space-y-2 w-4/5 mx-auto"
        data-title-text="展開先テクニック更新"
        data-intro-text="このテクニックから展開される技を編集することができます。<br><br>ここで展開先として選択されたテクニックは、このテクニックの右側に接続される形でチャート上に描写されます。"
      >
        <%= f.label "children", "展開先テクニック" %>
        <%= f.select "children",
            grouped_options_for_select(@grouped, @selected_ids),
            {},
            id: "children_nodes",
            multiple: true,
            placeholder: "テクニックを検索",
            data: { controller: "tom-select" }
        %>
      </div>
    </div>

    <div class="divider my-8"></div>

    <div class="flex flex-col items-center space-y-2 my-10">
      <%= f.submit "保存", class: "btn btn-primary btn-wide", data: { turbo_frame: "_top" } %>
      <%= link_to "ノードを削除", 
        mypage_node_path(@node),
        id: "step3n",
        class: "btn btn-error btn-wide",
        data: { 
                turbo_method: :delete,
                turbo_confirm: "本当に削除しますか？",
                turbo_frame: "_top",
                title_text: "ノード削除",
                intro_text: "こちらからノードを削除することができます。<br><br>ノードを削除すると、展開先テクニックとして接続されていたノードもすべて削除されますので、ご注意ください。"
              }
      %>
    </div>
  <% end %>

  <div id="step4n" data-title-text="ガイドが完了しました！お疲れ様です！" data-intro-text="ここまで来たら、試しにノードを作ったり、展開先テクニックを追加したりして操作に慣れましょう！<br><br>本アプリに関するご不明点や改善点等がございましたら、画面下部にある <a class='underline font-bold' href='https://forms.gle/VGdTkDDsJkVQY7e79' target='_blank' rel='noopener noreferrer'>お問い合わせ</a> ページよりお気軽にご連絡ください！<br><br>それでは、よりよい柔術ライフを👋" class="hidden"></div>
<% end %>
