<%= turbo_frame_tag "technique-drawer" do %>
  <h2 class="text-lg font-bold mb-4">テクニック設定</h2>

  <%= form_with model: @technique, url: mypage_technique_path(@technique), method: :patch do |f| %>
    <%= render 'shared/error_messages', object: @technique %>
    <%= render 'mypage/techniques/form_core', f: f %>
    <div class="flex justify-center">
      <%= f.submit "保存", class: "btn btn-primary btn-wide" %>
    </div>
  <% end %>

    <div class="flex flex-col justify-center space-y-4 mt-10">
      <!--  子ノード追加 -->
      <%= form_with model: @node, url: mypage_node_path(@node), method: :patch do |ff| %>
        <div class="space-y-2">
          <%= label_tag :technique_id, "チャート上に描写する展開先テクニック" %>
          <%= select_tag "node[children_ids][]", options_from_collection_for_select(@candidate_techniques + @children.map(&:technique), :id, :name, @children.pluck(:technique_id)), multiple: true, class: "select2 w-full" %>

          <%= ff.submit "更新", class: "btn btn-secondary", data: { turbo_frame: "_top" } %>
        </div>
      <% end %>
    
      <!--  ノード削除 -->
      <!-- button_to ではフォームが生成されるので、data-turbo-method ではなく、method で delete を指定する -->
      <!-- link_to はaタグが生成されるので、data-turbo-method: :delete を使うことで擬似的に削除ボタンを作ることができる -->
        <%= button_to "このノードをチャートから削除", mypage_node_path(@node), method: :delete, class: "btn btn-error btn-wide mt-10", data: { turbo_confirm: "本当に削除しますか？", turbo_frame: "_top" } %>
    </div>
<% end %>
