<%= turbo_stream.update "node-drawer-header" do %>
  <%= render "drawer_header", editing: true %>
<% end %>

<%= turbo_stream.update "node-drawer" do %>
  <%= form_with model: @form, url: mypage_node_path(@node), method: :patch do |f| %>
    <div class="flex flex-col items-center">
      <div 
        id="guide-technique"
        class="w-full"
      >
        <%= render 'mypage/techniques/form_core', f: f %>
      </div>

      <div class="divider my-8"></div>

      <div
        id="guide-children"
        class="space-y-2 w-4/5 mx-auto"
      >
        <%= f.label "children", t("helpers.label.children_nodes") %>
        <%= f.select "children",
            grouped_options_for_select(@grouped, @selected_ids),
            {},
            id: "children_nodes",
            multiple: true,
            placeholder: t("defaults.search"),
            data: { controller: "tom-select" }
        %>
      </div>
    </div>

    <div class="divider my-8"></div>

    <div class="flex flex-col items-center space-y-2 my-10">
      <%= f.submit t("helpers.submit.submit"), class: "btn btn-primary btn-wide", data: { turbo_frame: "_top" } %>
      <%= link_to t("defaults.delete_item", item: Node.model_name.human), 
        mypage_node_path(@node),
        id: "guide-deleting-button",
        class: "btn btn-error btn-wide",
        data: { 
                turbo_method: :delete,
                turbo_confirm: t("defaults.delete_confirm"),
                turbo_frame: "_top",
              }
      %>
    </div>
  <% end %>
<% end %>
