<%= turbo_stream.update "node-drawer-header" do %>
  <%= render "drawer_header", editing: false %>
<% end %>

<%= turbo_stream.update "node-drawer" do %>
  <%= form_with url: mypage_chart_nodes_path(@chart), method: :post, class: "space-y-2 mt-10 w-4/5 mx-auto" do |f| %>
    <div class="flex items-center space-x-2">
      <%= label_tag "root_nodes", t("helpers.label.root_nodes") %>
      <div class="badge badge-sm badge-error badge-outline"><%= t("form.required") %></div>
    </div>
    <%= select_tag "node[roots]",
          grouped_options_for_select(@grouped),
          id: "root_nodes",
          multiple: true,
          placeholder: t("defaults.search"),
          data: { controller: "tom-select" }
    %>

    <div class="flex justify-center">
      <%= f.submit t("helpers.submit.create"), class: "btn btn-secondary btn-wide", data: { turbo_frame: "_top" } %>
    </div>
  <% end %>
<% end %>
