<%= turbo_stream.update "node-drawer-header" do %>
  <%= render "drawer_header", editing: false %>
<% end %>

<%= turbo_stream.update "node-drawer" do %>
  <%= form_with url: mypage_chart_nodes_path(@chart), method: :post, class: "space-y-2 mt-10 w-4/5 mx-auto" do |f| %>
    <div class="flex items-center space-x-2">
      <%= label_tag "root_nodes", "開始点テクニック" %>
      <div class="badge badge-sm badge-error badge-outline">必須</div>
    </div>
    <%= select_tag "node[roots]",
          grouped_options_for_select(@grouped),
          id: "root_nodes",
          multiple: true,
          placeholder: "テクニックを検索",
          data: { controller: "tom-select" }
    %>

    <div class="flex justify-center">
      <%= f.submit "追加", class: "btn btn-secondary btn-wide", data: { turbo_frame: "_top" } %>
    </div>
  <% end %>
<% end %>
