  <div class="space-y-4 w-4/5 mx-auto">
    <div class="space-y-2 mb-4">
      <div class="flex items-center space-x-2">
        <%= f.label :name, t("helpers.label.technique_name") %>
        <div class="badge badge-sm badge-error badge-outline"><%= t("form.required") %></div>
      </div>
      <%= f.text_field :name_ja, class: "input input-bordered w-full" %>
  
      <%= f.label :note, t("helpers.label.note") %>
      <%= f.text_area :note, class: "textarea textarea-bordered w-full field-sizing-content
" %>
  
      <%= f.label :category, t("helpers.label.category") %>
      <%= f.select :category, Technique.categories.keys.map { |c| [t("enums.category.#{c}"), c] }, { include_blank: t("enums.category.nil") }, class: "select select-bordered w-full" %>
    </div>
  </div>
