  <div class="space-y-4 w-4/5 mx-auto">
    <div class="space-y-2 mb-4">
      <%= f.label :name, "テクニック名" %>
      <%= f.text_field :name_ja, class: "input input-bordered w-full" %>
  
      <%= f.label :note, "ノート" %>
      <%= f.text_area :note, class: "textarea textarea-bordered w-full" %>
  
      <%= f.label :category, "カテゴリ" %>
      <%= f.select :category, Technique.categories.keys.map { |c| [c.humanize, c] }, { include_blank: "未分類" }, class: "select select-bordered w-full" %>
    </div>
  
  </div>
