<div class="card mt-2 bg-base-200 shadow-sm" data-new-record>
  <div class="card-body">
    <%= f.label :to_technique_id, "展開先テクニック" %>
    <%= f.collection_select :to_technique_id, @techniques, :id, :name, { prompt: "選択してください" }, class: "select select-bordered w-full" %>

    <%= f.label :trigger, "その技に遷移できる条件" %>
    <%= f.text_field :trigger, class: "input input-bordered w-full", placeholder: "例：相手が足を踏み出してきた時" %>

    <% if f.object.persisted? %>
      <%= f.hidden_field :_destroy %>
    <% end %>
  
    <div class="card-actions justify-end">
      <button type="button" data-action="click->transitions#remove" class="btn btn-sm btn-error">− 削除</button>
    </div>
  </div>
</div>

