<%= turbo_frame_tag "technique-drawer" do %>
  <%= form_with model: @technique, url: mypage_technique_path(@technique), method: :patch do |f| %>
    <div class="w-full mx-auto m-4">
      <%= render 'form_core', f: f %>
    </div>
  
    <div class="flex flex-col items-center space-y-2 my-10">
      <%= f.submit t("helpers.submit.update"), class: "btn btn-primary btn-wide", data: { turbo_frame: "_top" } %>
      <%= link_to t("defaults.delete"), mypage_technique_path(@technique.id), class: "btn btn-error btn-wide", data: { turbo_method: :delete, turbo_confirm: t("defaults.delete_confirm"), turbo_frame: "_top" } %>
    </div>
  <% end %>
<% end %>
