<div class="min-h-screen px-4 py-6 bg-base-100 space-y-6">

  <!-- ヘッダー -->
  <div class="flex items-center gap-2 text-2xl font-bold text-primary">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
      <path d="M3 6h18M3 12h18M3 18h18" />
    </svg>
    Techniques
  </div>

  <div class="flex flex-col gap-4 md:flex-row md:items-center md:justify-center ">
  <!-- 検索・フィルター
    <input
      type="text"
      placeholder="Search techniques"
      class="input input-bordered w-full max-w-xs"
      /> -->

    <div class="flex gap-2">
      <!-- 並び替えドロップダウン 
      <div class="dropdown">
        <label tabindex="0" class="btn btn-sm btn-outline flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8h18M3 16h18" />
          </svg>
          新しい順
          <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-40 z-[1]">
          <li><a>新しい順</a></li>
          <li><a>古い順</a></li>
          <li><a>名前順</a></li>
        </ul>
      </div> -->
    </div>
    <%= link_to '新規作成', new_mypage_technique_path, class: "btn btn-primary" %>
  </div>

  <div class="space-y-3 items-center w-80 mx-auto">
    <% if @techniques.present? %>
      <% @techniques.each do |technique| %>
        <div class="flex flex-row card bg-base-200 shadow-md">
          <div class="card-body items-start p-4">
            <% if technique.category%>
              <span class="badge badge-soft"><%= technique.category.humanize %></span>
            <% else%>
              <span class="badge badge-ghost">未分類</span>
            <% end %>
            <span class="text-lg font-medium"><%= technique.name %></span>
          </div>
          <div class="flex flex-col space-y-1 p-1">
            <%= link_to '編集', edit_mypage_technique_path(technique.id), class: "btn btn-primary" %>
            <%= link_to "削除", mypage_technique_path(technique.id), class: "btn btn-error", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
          </div>
        </div>
      <% end %>
    <% else%>
      <div class="mt-10">
        <p class="text-gray-500">表示するテクニックがありません。<br>「新規作成」ボタンから追加してみましょう！</p>
      </div>
    <% end %>
  </div>
</div>
