<div class="min-h-screen px-4 py-6 bg-base-100 space-y-6" data-controller="step-guide">

<div class="flex items-center space-x-2 m-4">
  <h1 class="text-2xl font-bold">Technique</h1>
  <div class="tooltip tooltip-right" data-tip="ステップガイドを開始するにはここをクリック" data-action="click->step-guide#startTechniqueGuide">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
    </svg>
  </div>
</div>

<div id="step0" class="hidden" data-intro-text="こちらは、柔術のテクニックが一覧として並んでいる画面です。"></div>

  <div class="flex flex-col gap-2 items-center">
    <%= link_to "新規作成" , new_mypage_technique_path, class: "btn btn-primary btn-wide", id: "step1", data: { title_text: "新規作成", intro_text: "一覧にないテクニックは、こちらのボタンから新規作成することができます。" } %>
    <%= search_form_for @q, url: mypage_techniques_path, id: "step2",
          data: { turbo_frame: "technique-list",
                  controller: "instant-search",
                  action: "input->instant-search#autosubmit",
                  title_text: "検索",
                  intro_text: "一覧にあるテクニックは、ここから検索して表示を絞り込むことができます。"
          } do |f| %>
      <label class="input w-80">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <%= f.search_field :name_or_note_cont, placeholder: "技またはノートを検索", class: "search" %>
      </label>
    <% end %>
  </div>

  <div id="step3" data-title-text="テクニック詳細" data-intro-text="カードをクリックすると、テクニック個々の詳細を確認・編集することができます。" class="hidden"></div>
  <div id="step4" data-title-text="テクニック詳細" data-intro-text="こちらのノート欄に、日々の練習で気がついたことを記録していきましょう！" class="hidden"></div>
  <div
    id="step5"
    data-intro-text="こちらの画面の説明は以上です。<br><br>本画面から確認できるテクニック同士を繋げて可視化する操作について知りたい場合は <a class='underline font-bold' href=<%= mypage_chart_path(@chart) %>>Chart</a> メニューの左上にある
      <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6 inline'>
        <path stroke-linecap='round' stroke-linejoin='round' d='M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z' />
      </svg>
    をクリックしてください！"
    class="hidden"
  >
  </div>

  <%= turbo_frame_tag "technique-list" do %>
    <div class="space-y-2 w-80 mx-auto">
      <% if @techniques.present? %>
        <% @techniques.each do |technique| %>
          <div class="collapse collapse-arrow bg-base-200 shadow-md">
            <input type="checkbox">
            <div class="collapse-title items-start space-y-2 flex flex-col">
              <% if technique.category%>
                <span class="badge badge-soft"><%= technique.category.humanize %></span>
              <% else%>
                <span class="badge badge-ghost">未分類</span>
              <% end %>
              <span class="text-lg font-medium" ><%= technique.name %></span>
            </div>
            <div class="collapse-content flex flex-col items-center">
              <%= form_with model: technique, url: mypage_technique_path(technique), method: :patch do |f| %>
                <%= render 'shared/error_messages', object: technique %>
                <div class="w-72 mx-auto m-4">
                  <%= render 'form_core', f: f %>
                </div>
                <div class="flex flex-col items-center space-y-4 mt-10">
                  <!-- turbo_frame: "_top" を指定してページ全体をリロードしないと、フラッシュメッセージが表示されない。-->
                  <%= f.submit "保存", class: "btn btn-primary btn-wide", data: { turbo_frame: "_top" } %>
                  <%= link_to '削除', mypage_technique_path(technique.id), class: "btn btn-error btn-wide", data: {turbo_method: :delete, turbo_confirm: "本当に削除しますか？", turbo_frame: "_top" } %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="mt-10">
          <p>表示するテクニックがありません。</p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
