<div class="min-h-screen px-4 py-6 bg-base-100 space-y-6">

<h1 class="text-2xl font-bold text-primary m-4">Techniques</h1>

  <div class="flex flex-col gap-4 md:flex-row md:items-center md:justify-center ">
    <%= search_form_for @q, url: mypage_techniques_path,
          data: { turbo_frame: "technique-list",
                  controller: "instant-search",
                  action: "input->instant-search#autosubmit"
          } do |f| %>
      <label class="input">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <%= f.search_field :name_or_note_cont, placeholder: "技またはノートを検索", class: "search" %>
      </label>
    <% end %>

    <div class="flex justify-center">
      <%= link_to '新規作成', new_mypage_technique_path, class: "btn btn-primary text-lg btn-wide" %>
    </div>
  </div>

  <%= turbo_frame_tag "technique-list" do %>
    <div class="space-y-10 items-center w-80 mx-auto">
      <% if @techniques.present? %>
        <% @techniques.each do |technique| %>
              <div class="collapse collapse-arrow bg-base-200 shadow-md mb-2">
                <input type="checkbox">
                <div class="collapse-title items-start p-4">
                  <% if technique.category%>
                    <span class="badge badge-soft"><%= technique.category.humanize %></span>
                  <% else%>
                    <span class="badge badge-ghost">未分類</span>
                  <% end %>
                  <span class="text-lg font-medium" ><%= technique.name %></span>
                </div>
                <div class="collapse-content w-72 mx-auto m-4">
                  <%= form_with model: technique, url: mypage_technique_path(technique), method: :patch, local: true do |f| %>
                    <%= render 'shared/error_messages', object: technique %>
                    <div class="w-72 mx-auto m-4">
                      <%= render 'form_core', f: f %>
                    </div>
                    <div class="flex flex-col items-center space-y-4 mt-10">
                      <%= f.submit "保存", class: "btn btn-primary btn-wide" %>
                      <%= link_to '削除', mypage_technique_path(technique.id), class: "btn btn-error btn-wide", data: {turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} %>
                    </div>
                  <% end %>
                </div>
              </div>
        <% end %>
      <% else %>
        <div class="mt-10">
          <p class="text-gray-500">表示するテクニックがありません。</p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
