<h2 class="text-lg font-bold m-4">新しいテクニックを作成</h2>
<%= form_with model: @technique, url: @technique.persisted? ? mypage_technique_path(@technique) : mypage_techniques_path, method: @technique.persisted? ? :patch : :post do |f| %>
  <%= render "shared/error_messages", object: @technique %>
  <%= render "form_core", f: f %>

  <div class="flex flex-col items-center space-y-4 w-72 mx-auto">
    <%= f.submit "保存", class: "btn btn-primary btn-wide" %>
    <%= link_to '一覧へ戻る', mypage_techniques_path, class: "btn btn-outline btn-wide" %>
  </div>
<% end %>